@import "base.less";

#main {
    display: flex;
    background-color: #eee;
    .category-left {
        width: .8rem; 
        background-color: #fff;
        position: relative;
        ul {
            li {
                border-bottom: 1px solid #eee;
                a {
                    display: block;
                    width: 100%;
                    height: .45rem;
                    text-align: center;
                    line-height: .45rem;
                    
                }
                &.active {
                    a {
                        background-color: #eee;
                        color:@main-color;
                    }
                     
                 }
            }
        }
    }
    .category-right {
        flex: 1;
        position: relative;
        ul {
            padding: .1rem;
            display: flex;
            flex-wrap: wrap;
            li {
                width: 33.33%;
                padding: .01rem;
                
                text-align: center;
                a {
                    display: block;
                    width: 100%;
                    background-color: #fff;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}